/*
  display
*/

.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }


/*
  flex + grid
*/

.flex { display: flex; }
.grid { display: grid; }

.gap-05 { gap: .5rem; }
.gap-1 { gap: 1rem; }
.gap-2 { gap: 2rem; }

.grid-flow-col { grid-auto-flow: column; }
.grid-flow-row { grid-auto-flow: row; }
  
.justify-end { justify-content: end; }
.justify-start { justify-content: start; }


/*
  margins + padding
*/

.mb-05 { margin-bottom: .5rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-15 { margin-bottom: 1.5rem; }
.mb-2 { margin-bottom: 2rem; }

.mt-05 { margin-top: .5rem; }
.mt-1 { margin-top: 1rem; }
.mt-15 { margin-top: 1.5rem; }
.mt-2 { margin-top: 2rem; }

.my-15 { margin-bottom: 1.5rem; margin-top: 1.5rem; }

.p-1 { padding: 1rem; }


/*
  small
*/

.small { font-size: font(small, size); }


/*
  white-space
*/

.ws-normal { white-space: normal; }
.ws-pre-line { white-space: pre-line; }
