.tag {
  background: color(neutral, 4);
  border-radius: .5rem;
  color: color(black);
  font-family: font(text, family);
  font-size: font(small, size);
  font-weight: 300;
  letter-spacing: .25px;
  line-height: 1;
  padding: .125rem .75rem;
  white-space: nowrap;
}
